// -- FONT
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
$primary: #BE0C22;
$warning: #FFC329;
$success: #06C671;
$danger: #D50000;

$white: #ffffff;
$black: #000000;

$text-color: #5B5B5B;
$title-color: #394149;

$font-fm-base: 'Roboto',  sans-serif;