.login-page {
  background-color: #F3F7FA;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-wrapper {
    width: 100%;
    max-width: 470px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 3px 80px #0000001A;
    h3 {
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      font-weight: 400;
    }
    p {
      color: #888888;
      font-size: 16px;
      line-height: 24px;
    }
    .option {
      text-align: center;
      margin-top: 40px;
      p {
        color: #888888;
        font-size: 14px;
        line-height: 18px;
        padding: 0 30px;
      }
      .separator {
        position: relative;
        text-align: center;
        &::after {
          content: "";
          width: 100%;
          height: 1px;
          background-color: #F3F4F7;
          position: absolute;
          top: 50%;
          left: 0;
          margin-top: -0.5px;
        }
        span {
          width: 31px;
          height: 31px;
          background-color: #F3F4F7;
          border-radius: 100%;
          line-height: 31px;
          font-size: 14px;
          color: #707070;
          text-align: center;
          display: inline-block;
          position: relative;
          z-index: 1;
        }
      }
      .call {
        color: $primary;
        margin-top: 30px;
        margin-bottom: 0;
      }
    }
    .form-label {
      color: $primary;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
    }
    .btn {
      width: 100%;
      margin-bottom: 30px;
      text-transform: uppercase;
      height: 48px;
    }
  }
}