{% set page_id = "Home" %}
{% extends "layout.html" %}

{% block extra_style %}

{% endblock %}
{% block content %}
	<div class="login-page">
		<div class="login-wrapper">
			<div class="logo-wrapper text-center mb-4">
				<img src="./dist/images/redback-logo.svg" alt="logo">
			</div>
			<h3 class="mb-4">Presenter Login Page - Authorised Users Only</h3>
			<div class="mb-4">
				<label for="email-form" class="form-label">Email address</label>
				<input type="email" class="form-control" id="email-form" placeholder="Your Email">
			</div>
			<div class="mb-4">
				<label for="pass-form" class="form-label">Password</label>
				<input type="password" class="form-control" id="pass-form" placeholder="pasword">
			</div>
			<button class="btn btn-primary">Login</button>
			<p>Please Enter your E-mail Address and Password</p>
			<div class="option">
				<p>if you are not sure of your e-mail or password, please contact your event manager</p>
				<div class="separator">
					<span>OR</span>
				</div>
				<p class="call">or call us at 1 800 733 416</p>
			</div>
		</div>
	</div>
{% endblock %}