.form-control {
  border-color: #B8B8B8;
  height: 48px;
  &::-webkit-input-placeholder { /* Edge */
    color: #B8B8B8;
    font-size: 16px;
    font-weight: 400;
  }
  
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #B8B8B8;
    font-size: 16px;
    font-weight: 400;
  }
  
  &::placeholder {
    color: #B8B8B8;
    font-size: 16px;
    font-weight: 400;
  }
}